.tarefas{
    margin-top: 30px;
}

.tarefas li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  10px;
    transition: all 600ms;
}

.tarefas li:hover{
    background: #6A5ACD;
}



.tarefas li:hover .edit,
.tarefas li:hover .delete{
    color: #000;
    transition: all 600ms;
}

.tarefas li .edit,
.tarefas li .delete{
    cursor: pointer;
}

.tarefas li span{
    display: flex;
    align-items: center;
}

.edit{
    margin-right: 30px;
    color: #6A5ACD;
}

.delete{
    margin-right: 30px;
    color: #f04c64;
}